# Fichier RDF

## EDA

In [78]:
from rdflib import Graph
import pandas as pd
import os

RDF => DataFrame

In [80]:
# daily RDF to DataFrame
def rdf_daily_to_df(file_path):
    g = Graph()
    g.parse(file_path, format="xml")

    rows = {}

    for s, p, o in g:
        s = str(s)
        p = str(p)
        o = str(o)

        if s not in rows:
            rows[s] = {
                "subject": s,
                "city": "Chicago"
            }

        col = p.split("/")[-1]

        if col == "route":
            rows[s]["route"] = o
        elif col == "date":
            rows[s]["date"] = o
        elif col == "daytype":
            rows[s]["daytype"] = o
        elif col == "rides":
            rows[s]["ridership"] = o

    df = pd.DataFrame(rows.values())

    df["date"] = pd.to_datetime(df["date"], errors="coerce")
    df["ridership"] = pd.to_numeric(df["ridership"], errors="coerce")

    return df

dfs = []
for file in os.listdir("../Data/rdf_CTA_Route_routes_2001_2025/"):
    if file.endswith(".rdf"):
        full_path = os.path.join("../Data/rdf_CTA_Route_routes_2001_2025/", file)
        print(f"Reading: {file}")
        df_temp = rdf_daily_to_df(full_path)
        dfs.append(df_temp)


df_Daily = pd.concat(dfs, ignore_index=True)

Reading: rdf_CTA__Ridership__Daily_by_Route_routes_1.rdf
Reading: rdf_CTA__Ridership__Daily_by_Route_routes_10.rdf
Reading: rdf_CTA__Ridership__Daily_by_Route_routes_11.rdf
Reading: rdf_CTA__Ridership__Daily_by_Route_routes_12.rdf
Reading: rdf_CTA__Ridership__Daily_by_Route_routes_13.rdf
Reading: rdf_CTA__Ridership__Daily_by_Route_routes_14.rdf
Reading: rdf_CTA__Ridership__Daily_by_Route_routes_15.rdf
Reading: rdf_CTA__Ridership__Daily_by_Route_routes_16.rdf
Reading: rdf_CTA__Ridership__Daily_by_Route_routes_17.rdf
Reading: rdf_CTA__Ridership__Daily_by_Route_routes_18.rdf
Reading: rdf_CTA__Ridership__Daily_by_Route_routes_19.rdf
Reading: rdf_CTA__Ridership__Daily_by_Route_routes_2.rdf
Reading: rdf_CTA__Ridership__Daily_by_Route_routes_3.rdf
Reading: rdf_CTA__Ridership__Daily_by_Route_routes_4.rdf
Reading: rdf_CTA__Ridership__Daily_by_Route_routes_5.rdf
Reading: rdf_CTA__Ridership__Daily_by_Route_routes_6.rdf
Reading: rdf_CTA__Ridership__Daily_by_Route_routes_7.rdf
Reading: rdf_CTA__Ridership__Daily_by_Route_routes_8.rdf
Reading: rdf_CTA__Ridership__Daily_by_Route_routes_9.rdf

Afficher les 5 lignes

In [81]:
df_Daily.head()

,subject,city,daytype,route,date,ridership
0,https://data.cityofchicago.org/resource/jyb9-n...,Chicago,W,11,2007-01-12,4228
1,https://data.cityofchicago.org/resource/jyb9-n...,Chicago,W,108,2021-10-19,602
2,https://data.cityofchicago.org/resource/jyb9-n...,Chicago,W,100,2023-03-08,335
3,https://data.cityofchicago.org/resource/jyb9-n...,Chicago,W,1,2021-09-28,566
4,https://data.cityofchicago.org/resource/jyb9-n...,Chicago,W,1,2011-11-01,3145

Description de la Dataframe

In [ ]:
print("Description de la DataFrame Daily \n",df_Daily.describe())

Description de la DataFrame Daily
                                 date     ridership
count                        1092474  1.092474e+06
mean   2013-03-20 02:06:30.568929792  5.833470e+03
min              2001-01-01 00:00:00  0.000000e+00
25%              2007-02-02 00:00:00  1.269000e+03
50%              2012-12-08 00:00:00  3.674000e+03
75%              2019-05-18 00:00:00  8.669000e+03
max              2025-11-30 00:00:00  4.517700e+04
std                              NaN  6.037996e+03

Afficher les infos de DataFrame

In [ ]:

print("Info sur la DataFrame Daily \n")
df_Daily.info()

Info sur la DataFrame Daily

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1092474 entries, 0 to 1092473
Data columns (total 6 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   subject    1092474 non-null  object
 1   city       1092474 non-null  object
 2   daytype    1092474 non-null  object
 3   route      1092474 non-null  object
 4   date       1092474 non-null  datetime64[ns]
 5   ridership  1092474 non-null  int64
dtypes: datetime64[ns](1), int64(1), object(4)
memory usage: 50.0+ MB

Taille de DataFrame

In [ ]:
print("Daily DataFrame shape:", df_Daily.shape)

Daily DataFrame shape: (1092474, 6)

Vérifier les valeurs nulls

In [ ]:
print("Les valeurs nulles dans le DataFrame Daily :\n", df_Daily.isnull().sum())

Les valeurs nulles dans le DataFrame Daily :
 subject      0
city         0
daytype      0
route        0
date         0
ridership    0
dtype: int64

Vérifier les doublons

In [ ]:
print("Les doublons dans le DataFrame Daily:",df_Daily.duplicated().sum())

Les doublons dans le DataFrame Daily: 0

## Nettoyage

In [ ]:
df_Daily=df_Daily[(df_Daily['date']> '2018-12-31')]

In [ ]:
#supprimer colonnes subject et city des deux DataFrames
df_Daily = df_Daily.drop(columns=["subject", "city"])

##  Exportation du DataFrame final au format CSV

 Fusionner les données de fréquentation journalières et mensuelles par itinéraire et par mois

Exporter comme un CSV

In [ ]:
df_Daily.to_csv("../Data clean/Chicago_route.csv", index=False)

# Fichier Excel

In [ ]:
df_Mode=pd.read_excel("../Data/cta-ridership-daily-boarding-totals-20260203-69820a3f9df63091665572.xlsx")

## EDA

Afficher les 5 lignes

In [ ]:
df_Mode.head()

  service_date day_type     bus  rail_boardings  total_rides
0   2001-01-01        U  297192          126455       423647
1   2001-01-02        W  780827          501952      1282779
2   2001-01-03        W  824923          536432      1361355
3   2001-01-04        W  870021          550011      1420032
4   2001-01-05        W  890426          557917      1448343

Taille de DataFrame

In [ ]:
df_Mode.shape

(9100, 5)

Description de la DataFrame

In [ ]:
print("Description de la DataFrame Mode: \n")
df_Mode.describe()

Description de la DataFrame Mode:

              service_date            bus  rail_boardings   total_rides
count                 2526    2526.000000     2526.000000  2.526000e+03
mean   2022-06-16 12:00:00  447388.560570   335343.043943  7.827316e+05
min    2019-01-01 00:00:00   80783.000000    23544.000000  1.100470e+05
25%    2020-09-23 06:00:00  307571.500000   203752.000000  5.030232e+05
50%    2022-06-16 12:00:00  441554.500000   322465.000000  7.631590e+05
75%    2024-03-08 18:00:00  566131.500000   405493.000000  9.707490e+05
max    2025-11-30 00:00:00  905477.000000   816086.000000  1.677559e+06
std                    NaN  175712.572371   174488.280933  3.456848e+05

Afficher les infos de la DataFrame

In [ ]:
print("Info sur la DataFrame Mode \n")
df_Mode.info()

Info sur la DataFrame Mode

<class 'pandas.core.frame.DataFrame'>
Index: 2526 entries, 6574 to 9099
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   service_date    2526 non-null   datetime64[ns]
 1   day_type        2526 non-null   object
 2   bus             2526 non-null   int64
 3   rail_boardings  2526 non-null   int64
 4   total_rides     2526 non-null   int64
dtypes: datetime64[ns](1), int64(3), object(1)
memory usage: 118.4+ KB

Vérifier les valeurs nulls

In [ ]:
print("Les valeurs nulles dans le DataFrame Route :")
df_Mode.isna().sum()

Les valeurs nulles dans le DataFrame Route :

service_date      0
day_type          0
bus               0
rail_boardings    0
total_rides       0
dtype: int64

Vérifier les doublons

In [ ]:
print("Les doublons dans le DataFrame Mode:",df_Mode.duplicated().sum())

Les doublons dans le DataFrame Mode: 0

## Nettoyage

Filtrer la date

In [ ]:
df_Mode=df_Mode[(df_Mode['service_date']> '2018-12-31')]

##  Exportation du DataFrame final au format CSV

In [ ]:
df_Mode.to_csv("../Data clean/Chicago_mode.csv")